.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
  width: 100%;
  margin-bottom: 0.25rem;
}

.form-control input,
.form-control textarea {
  border: 1px solid #a1a1a1;
  font: inherit;
  border-radius: 2px;

}
.user-message {
  margin: 1rem auto;
  padding: 0rem;
  border:1px solid red;
  background-color: #f07979;
  color:#7c0a0a;
  width: 20rem;
  border-radius: 10px;
  text-align: center;
}
.user-message ul{
    list-style: none;
}
.form-control input:focus,
.form-control textarea:focus {
  outline-color: #00695c;
}

input.invalid,textarea.invalid{
  border-color: red;
}
